#form{
    margin-right:500px ;
    margin-left: 500px;
}
legend{
    text-align: center;
}
#form2{
    padding-top: 10px;
    padding-left: 100px;
}
.clr{
    color: red;
}
.o{
    color: gray;
}
.space{
    padding: 4px;
}
.del{
    background-color: red;
}
.edd{
    background-color: green;
}
.view{
    background-color: blue;
}   
/* .bdy{
    background-color:#87bdd8;
    color: black;
} */
#search1{
    width: 500px;
}
#searchForm{
    
    margin-left: 20px;
    margin-right: 950px;
    
    display: inline-block;
}
#labelOr{
    padding-left: 300px;
}
#mytableThead th{
    padding: 10px;
}
.btnthead{
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}
.btnthead:hover{
    background-color:dodgerblue;
}
